<div class="navbar">
    <div class="nav-ligne">
        <a href="/index.html">Accueil</a>
        <a href="/pages/rein.html">Le rein</a>
        <a href="/pages/insuffisance.html">Qu'est-ce que la maladie rénale ?</a>
        <a href="/pages/dialyse.html">La dialyse</a>
        <a href="/pages/causes.html">Causes et risques</a>
        <a href="/pages/symptomes.html">Symptômes</a>
        <a href="/pages/hygiene.html">Hygiène de vie</a>
        <a href="/pages/alimentation.html">Alimentation</a>
        <a href="/pages/prevention.html">Prévention et suivi médical</a>
        <a href="/pages/jeux2.html">Mini-jeux</a>
        <a href="/pages/chatbot.html">Chatbot IA</a>
        <a href="/pages/ressources.html">Ressources et aides</a>
    </div>
</div>
