/* Général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    background-color: #edede9;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #1f2d3d;
    line-height: 1.8;
    padding-bottom: 40px;
}

/* Conteneur principal */
.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 40px 50px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* Titres */
h1 {
    font-size: 2.8rem;
    color: #2c3e50;
    margin-bottom: 30px;
    border-left: 6px solid #BDA18A;
    padding-left: 15px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

h1 i {
    margin-right: 15px;
}

h2 {
    font-size: 2rem;
    color: #2c3e50;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

h2 i {
    margin-right: 10px;
}

/* Score */
#score {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 40px;
    color: #BDA18A;
    border-bottom: 2px solid #BDA18A;
    padding-bottom: 12px;
}


#explications {
    
    /* background-color: #ecf6fd; */
    /* border-left: 6px solid #BDA18A; */
    padding: 30px;
    border-radius: 12px;
    white-space: pre-wrap;
    font-size: 1.15rem;
    color: #34495e;
    margin-bottom: 50px;
    line-height: 1.8;
}

/* Boutons */
button {
    display: block;
    padding: 18px 35px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #BDA18A;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 40px auto 0 auto; 
    width: 100%;
    max-width: 250px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    text-align: center;
}

button i {
    font-size: 1.5rem;
}

button:hover {
    background-color: #BDA18A;
    transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 600px) {
    .container {
        padding: 20px;
        margin: 20px;
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    #score {
        font-size: 1.2rem;
    }

    button {
        font-size: 1rem;
        padding: 16px 28px;
    }
}

#explications strong {
    font-weight: bold;
    color: #2c3e50;
}
